* {
    padding: 0px;
    margin: 0px;
}

header {
    width: 100%;
    height: 100px;
    float: left;
}

.logo {
    width: 30%;
    float: left;
}

nav {
    width: 100%;
    float: left;
}

.menu {
    float: right;
    margin-top: 25px;
}

.menu li {
    list-style: none;
    float: left;
    padding: 10px 15px 10px 15px;
    margin: 10px 15px 10px 15px;
}

.menu li a {
    text-decoration: none;
    color: white;
}

nav {
    background: #3b5998;
}

a {
    color: white;
}

a:hover {
    color: black;
}

body {
    background: white;
}

.logo {
    margin-top: 15px;
}

.contacto {
    padding: 10px 15px 10px 15px;
    margin: 10px 15px 10px 15px;
}

.mensaje {
    padding: 20px 1px 10px 15px;
    margin: 20px px 10px 15px;
}

.imagen2 {
    float
}

header:hover {
    color: black;
}

.telefono{
    color:white;
}

.avances {
    width: 60%;
}

.button {
    background-color: #468499;
    border: none;
    color: white;
    padding: 2px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

legend:hover {
    color: black;
}

.p1{
    color: #4e6172;
    font-size: 14px;
}

.p2{
    color: #4e6172;
    font-size: 14px;
}

.p3{
    color: #4e6172;
    font-size: 14px;
}

.p4{
    color: #4e6172;
    font-size: 14px;
}

.p5{
    color: #4e6172;
    font-size: 14px;
}

.p6{
    color: #4e6172;
    font-size: 14px;
}